
.card-container{
    display: flex;
    background: purple;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
}
.card{
    width: 300px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 1px 3px 3px black;
}
.card:hover{
    box-shadow: 6px 4px 5px rgb(255, 255, 255);
}
.img-style{
    width: 100%;
}
.card-body{
    padding: 5px;
    background: teal;
}
.card-body .card-title{
    font-size: 2rem;
    text-align: center;
    color: white;
}

.card-description{
    text-align: justify;
    line-height: 1.5;
    color: white;
}
