.menu{
    background-color: turquoise;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}
.menu a{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
}
.menu a:hover{
    background-color: gray;
}

@media screen and (max-width:500px) {
    .menu{
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        
     

    }
    .menu a{
        text-align: center;
        background-color: purple;
        margin: 10px;
        border-radius: 5px;


    }
    
}